body {
    font-family: Arial, sans-serif;
}


.head-section
{
    background: rgba(37, 43, 66, 1);

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
}
.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
}


.auth-buttons a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.login
{
    background-color: rgba(37, 43, 66, 1) ;
}
.join-us
{
    background-color:  rgba(35, 166, 240, 1);
    padding: 5px 10px;
    border-radius: 5px;
}

.main-container
{
    width: 1050px;
    justify-content: center;
    align-items: center;
    padding: 80px, 0px, 80px, 0px;
    margin-top: 104px;
    margin-left: 97px;

}
.Welcome
{
    font-weight: bold;
    color: blue;
}
.main-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.white
{
    color: white;
}

.getquotenow
{
    background-color:  rgba(35, 166, 240, 1);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.learnmore
{
    color: rgba(35, 166, 240, 1) ;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(35, 166, 240, 1) ;
}


.boxes
{
    display: flex;
    justify-content: space-between;
}

.pink
{
    background-color: rgba(255, 220, 209, 1);
}



