body
{
    background-color: grey;
}

.grid_container
{
    display: grid;
}
.divnadhir 
{
    display: flex;
    width: 50%;
    background-color: white;
}

b
{
    height: 20px;
}

pre
{
    font-size: medium;
    float: left;
}